<div class="container my-5">
    
    <div><h1 class="mb-3">Department</h1>
        <button type="submit" id="addDepartment" style="
        float: right; 
        "   routerLink="add">Add New Department</button></div>
    <table class="table" *ngIf="dept && dept.length>0">
        <thead>
            <tr>
                <th>Id</th>
                <th>DepartmentName</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let department of dept">
                <td>{{department.id}}</td>
                <td>{{department.departmentname}}</td>
                <td>
                    <button type="button" class="btn" 
                    style="
                    background-color: orange;
                "  [routerLink]="['/department','view',department.id]">View</button> &nbsp;&nbsp;
                    <Button class="btn btn-primary" [routerLink]="['/department','edit',department.id]">Edit</Button>&nbsp;&nbsp;
               <button type="button" class="btn btn-danger" 
                    (click)="deleteDepartment(department.id)">Delete</button>
                </td> </tr>
        </tbody>
    </table>
    <p *ngIf="!dept || dept.length<=0">No department found</p>
</div>